<h2>Search Terms</h2>
<form method="GET">
  {% if all_fields is not none %}
  {% for field in select_fields %}
  <fieldset>
    {{ field_aliases.get(field)|e }} is
    <select name="{{ field|e }}">
      <option value {% if search_terms.get(field) is none %} selected {% endif %}></option>
      {% if field in unique_values %}
      {% for value in unique_values.get(field) %}
      <option value="{{ value|e }}" {% if search_terms.get(field) == value %} selected {% endif %}>{{ value|e }}</option>
      {% endfor %}
      {% endif %}
    </select>
  </fieldset>
  {% endfor %}
  {% for field in input_fields %}
  <fieldset>
    {{ field_aliases.get(field)|e }} is
    <input name="{{ field|e }}" type="number" autocomplete="off" {% if search_terms.get(field) is not none %} value="{{ search_terms.get(field)|e }}" {% endif %}>
  </fieldset>
  {% endfor %}
  {% for field in range_fields %}
  <fieldset>
    {{ field_aliases.get(field)|e }} is at least
    <input name="{{ field|e }}!start" type="number" autocomplete="off" {% if search_terms.get(field + '!start') is not none %} value="{{ search_terms.get(field + '!start')|e }}" {% endif %}>
    (and) at most
    <input name="{{ field|e }}!end" type="number" autocomplete="off" {% if search_terms.get(field + '!end') is not none %} value="{{ search_terms.get(field + '!end')|e }}" {% endif %}>
  </fieldset>
  {% endfor %}
  {% if ordinal_fields is not none %}
  <fieldset>
      Sort by
      {% for field in ordinal_fields %}
      <input type="radio" name="order" value="{{ field|e }}" {% if search_terms.get('order') is not none and search_terms.get('order') == field %} checked {% endif %}> {{ field.title()|e }} </input>
      {% endfor %}
  </fieldset>
  {% endif %}
  <input type="submit" value="Submit">
  <a href="interactor"><button type="button">Clear</button></a>
  {% else %}
  The server encountered an error.
  {% endif %}
</form>
