{% extends "layout.html" -%}
{% set active_page = 'index' %}
{% block content -%}
    <h1> About the Dataset</h1>
    <h2>Data Collection</h2>
    <p>This data is from a ICPSR data collection published in 2004 on the
    <a href = "https://www.icpsr.umich.edu/icpsrweb/ICPSR/studies/8451">ICPSR website</a>.
    The primary authors of this data were M. Watt Espy and John Ortiz Smykla.
    The data was collected over the course of 30 years and concerns executions conducted under civil authority
    in the United States or the area that would become the United States from 1608 to 2002.
    The ICPSR collected numerous facts about each execution, not all of which appear in the final data set.
    The data was collected from state Department of Corrections records, newspapers,
    county histories, proceedings of state and local courts, holdings of historical societies,
    and other listings of executions.
  </p>

    <h2 id="terms">Privacy and Terms</h2>
    <p>Most crucially, the names of the people executed have been removed to preserve privacy
    for the families of individuals and/or others related to the case.
    This data set is meant for research purposes only, not to track down any specific individuals.
    Additionally, the data ultimately belongs to the ICPSR,
    so any use must comply with their use, citation, and privacy guidelines. </p>

    <h2>Citation of the Data</h2>
    <p>Espy, M. Watt, and John Ortiz Smykla.
    EXECUTIONS IN THE UNITED STATES, 1608-2002: THE ESPY FILE [Computer file].
    4th ICPSR ed. Compiled by M. Watt Espy and John Ortiz Smykla, University of Alabama.
    Ann Arbor, MI: Inter-university Consortium for Political and Social Research [producer and distributor], 2004.</p>
{%- endblock content %}
