{% extends "layout.html" -%}
{% set active_page = 'index' %}
{% block content -%}
  <h1>DPRESS &ndash; Death Penalty Review: Execution Statistics from the States</h1>

  <a class="disclaimer" href="about-data.html#terms"><blockquote>
    Welcome to Death Penalty Review: Execution Statistics from the States (DPRESS)!
    Before you go any further: <strong>to use this site you must agree
    to comply with ICPSR guidelines on the viewing and use of this data.</strong>
    Checking that you agree means that <strong>you agree to use these data sets
    solely for statistical analysis and reporting of aggregated information,
    and not for investigation of specific individuals or organizations.</strong>
    It also means you agree to not use this data in an attempt
    to track down any specific individuals or organizations.
    All names of executed individuals have been removed for this reason,
    please respect that privacy.

    <em>Check box below. Until the user checks that they agree and hits the enter button,
    they cannot enter the rest of the site. Once they do the above,
    then the below blurb will pop up and the rest of the site will become accessible.
    <strong>Not yet implemented.</strong></em>
  </blockquote></a>

  <h2> Welcome! </h2>
    <p>Our site allows you to search an extensive dataset of executions
      in what is now the United States from 1608 to 2002.
      Make your first search right now!</p>

  <h2>Search the Dataset</h2>

  <p>
    Search below, or go to the <a href="interactor.html">Interactive Statistics page</a>
    for more options.
  </p>

  <form action="" method="POST" class="form-example">
    <div class="form-example">
      <input type="text" placeholder="Keyword Search">
      <input type="submit" value="Submit">
      <button>Go</button>
    </div>
  </form>

  <a href="advanced-search.html">Advanced Search</a>
{%- endblock content %}
