{% extends "layout.html" -%}
{% set active_page = 'index' %}
{% block content -%}
  <h1>Interactive Dataset Search</h1>
  <a class="disclaimer"><blockquote>All names have been removed from this dataset for the confidentiality
    of those involved. To ensure the protection of that confidentiality, <strong>do
    not attempt to use this dataset in order to identify specific individuals.</strong></blockquote></a>

  <h2>Keyword Search</h2>
  <form>
    <input type="text" placeholder="Search...">
    <button>Go</button>
  </form>

  <a href="advanced-search.html">Advanced Search</a>

  <h2>Search by Category</h2>
  <select>
    <option>Select...</option>
    <option>County</option>
    <option>State</option>
    <option>Crime</option>
    <option>Year</option>
  </select>
  <button>Go</button>

  <h2>Search Results</h2>
  <p>Your search for executions in 1846 had 12 results.</p>
  <table id="search-results">
    <tr>
      <th>Age at Execution</th>
      <th>State of Execution</th>
      <th>Crime Committed</th>
      <th>Race</th>
      <th>Month</th>
    </tr>
    <tr>
      <td>30</td>
      <td>Texas</td>
      <td>Murder</td>
      <td>Black</td>
      <td>January</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Florida</td>
      <td>Arson</td>
      <td>White</td>
      <td>April</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Kentucky</td>
      <td>Horse Theft</td>
      <td>Hispanic</td>
      <td>April</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Kentucky</td>
      <td>Treason</td>
      <td>White</td>
      <td>June</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Alabama</td>
      <td>Murder-Robbery</td>
      <td>White</td>
      <td>August</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Minnesota</td>
      <td>Murder</td>
      <td>White</td>
      <td>August</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Wyoming</td>
      <td>Horse Theft</td>
      <td>Black</td>
      <td>September</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Wyoming</td>
      <td>Horse Theft</td>
      <td>Black</td>
      <td>September</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Massachusetts</td>
      <td>Murder</td>
      <td>White</td>
      <td>October</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Massachusetts</td>
      <td>Murder</td>
      <td>White</td>
      <td>October</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Massachusetts</td>
      <td>Murder</td>
      <td>White</td>
      <td>October</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Florida</td>
      <td>Horse Theft</td>
      <td>Hispanic</td>
      <td>December</td>
    </tr>
  </table>
{%- endblock content %}
