{% extends "layout.html" -%}
{% set active_page = 'interactor' %}
{% block content -%}
  <h1>Interactive Dataset Search</h1>
  <a class="disclaimer"><blockquote>All names have been removed from this dataset for the confidentiality
    of those involved. To ensure the protection of that confidentiality, <strong>do
    not attempt to use this dataset in order to identify specific individuals.</strong></blockquote></a>

  <h2>Search by Race</h2>
  <form method="GET">
    <select name="race">
      <option disabled selected value>[Select...]</option>
      <option value="white">White</option>
      <option value="black">Black</option>
      <option value="asian-pacific il">Asian/Pacific Islander</option>
      <option value="native american">Native American</option>
      <option value="hispanic">Hispanic</option>
    </select>
    <input type="submit" value="Submit">
  </form>

  {% include "partials/advanced-search.html" %}

  {% if display_fields is not none %}
    {% include "partials/search-results.html" %}
  {% endif %}
{%- endblock content %}
