{% extends "layout.html" -%}
{% set active_page = 'interactor' %}
{% block content -%}
  <h1>Interactive Dataset Search</h1>
  <a class="disclaimer"><blockquote>All names have been removed from this dataset for the confidentiality
    of those involved. To ensure the protection of that confidentiality, <strong>do
    not attempt to use this dataset in order to identify specific individuals.</strong></blockquote></a>

  <h2>Keyword Search</h2>
  <form>
    <input type="text" placeholder="Search...">
    <button>Go</button>
  </form>

  <a href="advanced-search.html">Advanced Search</a>

  <h2>Search by Category</h2>
  <select>
    <option>Select...</option>
    <option>County</option>
    <option>State</option>
    <option>Crime</option>
    <option>Year</option>
  </select>
  <button>Go</button>

  {% include "partials/search-results.html" %}
{%- endblock content %}
